*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/*MOBILE VERSION STYLING*/
@media(max-width:768px){
    .desktop_menu,.desk_social,.home_desk_bg{
        display: none;
    }
    header{
        background-color: #3C3A39;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #ffffff;
        border-radius: 0 0 10px 10px;
    }
    .mobile_menu{
display: flex;
flex-direction: column;
gap: 8px;
    }
    .mobile_menu p{
        padding: 2px 15px;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
    }
   .logo a{
    text-decoration: none;
    font-size: 20px;
    color: #ff6B00;
    padding: 10px;
    font-weight: 700;
   }
   .home{
    background-color: #000000;
    color: #ffffff;
    padding: 120px 0 20px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   }
   .home_text{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 24px;
   }
   .home_text h1{
    color: #ff6B00;
    font-size: 60px;
   }
   .home_text p{
    font-size: 16px;
   }
   .mob_social ul{
    display: flex;
    list-style: none;
    padding-right: 24px;
   }
   .bg{
    display: flex;
    justify-content: end;
    align-items: end;
    right: 0;
    width: 100%;
    margin-top: -240px;
   }
}